<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">

        <a class="navbar-brand" href="#"><img src="">
            <h2>this is handlebars!</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>

        </div>

    </div>
</nav>
<div class="container-fluid">
    <div class="parallax2 text-center">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-4 pt-1">
                <img src="/public/images/woman-in-yellow-shirt-sitting-on-brown-wooden-folding-chair-3785612.jpg"
                    class="img-fluid">
            </div>
            <div class="col-1"></div>
            <div class="col-5 text-center">
                <h1>Learn Anywhere with Zoom</h1>
                <a href="https://zoom.us/home?zcid=2478" src="_blank" class="bold-link"></a>

            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row jumbtron mt-3">

        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10 p-2">


            <p class="lead">
                <h1 class="ml4 text-center">
                    <span class="letters letters-1">What in the world</span>
                    <span class="letters letters-2">is tutorMe?</span>
                    <span class="letters letters-3">Great question!</span>
                </h1>An online tutoring service that is available to you from anywhere. link with others who have
                already mastered what you are learning. everyone is good at something in their own way, here at
                tutorMe if you feel like you have a good grasp on a language or framework simply select from the
                listed provided and let others learn from you.
            </p>
            <p>Students are able to browse upcoming study sessions, send messages.</p>
            <p>Teachers are able to select material that they feel like they know and can teach others, make up
                sessions that students can join, set prices for what they are teahing. are able to browse upcoming
                study sessions, send messages.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
            <button type="button" class="btn btn-primary login-modal-btn mt-4" data-toggle="modal"
                data-target=".bd-example-modal-lg-1">Log
                in</button>


            <button type="button" class="btn btn-primary signup-modal-btn mt-4" data-toggle="modal"
                data-target=".bd-example-modal-lg-1">Sign
                up</button>

        </div>

    </div>
</div>

<!-- carousel -->
<div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-targert="#slides" data-slide-to="0" class="active"></li>
        <li data-targert="#slides" data-slide-to="1"></li>
        <li data-targert="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/public/images/woman-in-yellow-shirt-sitting-on-brown-wooden-folding-chair-3785612.jpg">
            <div class="carousel-caption">
                <h1 class="display-2">tutorMe</h1>
                <h3>Layout View</h3>
                <button type="button" class="btn btn-outline-light btn-lg">View Demo</button>
                <button type="button" class="btn btn-primary  btn-lg">Get Started</button>
            </div>
        </div>
        <div class="carsousel-item">
            <img src="">
        </div>
        <div class="carsousel-item">
            <img src="">
        </div>


    </div>


    <!-- Login/Signup Modal -->
    <div class="modal fade bd-example-modal-lg-1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Signup Modal Content -->
                <div class="option-signup">
                    <div class="modal-header">
                        <h5 class="modal-title">Sign Up</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- ID is #s for signup -->
                        <form class="signup" id="s">
                            <div class="form-group row">
                                <div class="col-6">
                                    <label for="first-name">First Name</label>
                                    <input type="text" class="form-control" id="first-name" placeholder="First Name">
                                </div>
                                <div class="col-6">
                                    <label for="last-name">Last Name</label>
                                    <input type="text" class="form-control" id="last-name" placeholder="Last Name">
                                </div>
                            </div>

                            <!-- Decides whether this user is instructor or student -->
                            <div class="form-group radio-options">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="studOrInst" id="inst"
                                        value="instructor">
                                    <label class="form-check-label" for="inst">Instructor</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="studOrInst" id="stud"
                                        value="student">
                                    <label class="form-check-label" for="stud">Student</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="email-input1" placeholder="Email">
                            </div>
                            <div class="form-group">

    {{!-- set a minimum length for the password using the minlength attribute. --}}
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="password-input1" placeholder="Password">
                            </div>
                            <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span> <span class="msg"></span>
                            </div>

                        </form>
                        <br />
                        <p>Or log in <a href=javascript:loginHere()>here</a></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-default" form="s">Sign Up</button>
                    </div>
                </div>

                <!-- Login Modal Content -->
                <div class="option-login">
                    <div class="modal-header">
                        <h5 class="modal-title">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="login" id="l">

                            <div class="form-group">
                                <label for="email-input">Email address</label>
                                <input type="email" class="form-control" id="email-input" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="password-input">Password</label>
                                <input type="password" class="form-control" id="password-input" placeholder="Password">
                            </div>
                        </form>
                        <br />
                        <p>Or sign up <a href=javascript:signupHere()>here</a></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" form="l" class="btn btn-default">Login</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">LET LEARNING BE SIMPLE</h1>
                <p>No more traveling to students' homes, libraries, or schools to conduct tutoring sessions.</p>
                <p>Organize tutoring environments to fit your schedule with Zoom.</p>
                <p>Learning should be fast, simple and easy.</p>


            </div>
        </div>

    </div>
    <!-- Profiles -->

    <div class="container-fluid padding">

        <h1 class="ml11 text-center">
            <span class="text-wrapper">
                <span class="line line1"></span>
                <span class="letters">MEET THE TEAM</span>
            </span>
        </h1>


        <div class="row padding">

            <div class="col-md-4">
                <div class="card">
                    <img class="card-imd-top profile1" src="">
                    <div class="card-body">
                        <h4 class="card-title">Daria</h4>
                        <p class="card-text">tons of exp</p>
                        <a href="#" class="btn btn-outline-secondary url1">View Github Profile<br><i
                                class="fab fa-github fa-1x"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-imd-top profile2" src="">
                    <div class="card-body">
                        <h4 class="card-title">Gus</h4>
                        <p class="card-text">tons of exp</p>
                        <a href="#" class="btn btn-outline-secondary url2">View Github Profile<br><i
                                class="fab fa-github fa-1x"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-imd-top profile3" src="">
                    <div class="card-body">
                        <h4 class="card-title">Brian</h4>
                        <p class="card-text">tons of exp</p>
                        <a href="#" class="btn btn-outline-secondary url3">View Github Profile<br><i
                                class="fab fa-github fa-1x"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- footer -->
    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-4">
                    <h4>Resources</h4>
                    <hr class="light">
                    <a href="https://www.github.com/" target="_blank"><i class="fab fa-github fa-3x"></i></a>
                    <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube fa-3x"></i></a>
                    <a href="https://stackoverflow.com" target="_blank"><i class="fab fa-stack-overflow fa-3x"></i></a>
                    <a href="https://getbootstrap.com" target="_blank"><i class="fab fa-bootstrap fa-3x"></i></a>
                    <a href="https://www.google.com/" target="_blank"><i class="fab fa-google fa-3x"></i></a>
                    <!-- neet to rplace with w3schools or delete 
                            <i class="fab fa-github fa-3x"></i> -->

                </div>
                <div class="col-md-4">
                    <h4>Location</h4>
                    <hr class="light">
                    <p>Full-stack Flex Bootcamp</p>
                    <p>Georgia, Tech</p>
                    <p>Atlanta, GA</p>
                    <p>30308</p>
                </div>
                <div class="col-md-4">
                    <h4>Support</h4>
                    <hr class="light">
                    <p>tutorme.supoort@goodquestion.org</p>
                </div>
                <div class="col-12">
                    <hr class="light">
                    <h4>&copy; tutorme.com</h4>
                </div>
            </div>

        </div>

        <script language="javascript" type="text/javascript">
            // on click to change login page to signup page
            const loginHere = () => {
                $(".option-signup").fadeOut(100, () => {

                    $(".option-login").fadeIn(100);
                });
            };

            // on click to change signup page to login page
            const signupHere = () => {
                $(".option-login").fadeOut(100, () => {

                    $(".option-signup").fadeIn(100);
                });
            };

            const afterReady = ($) => {

                // on click for login modal button
                $(".login-modal-btn").on("click", event => {
                    $(".option-signup").hide();
                    $(".option-login").show();
                });

                // on click for signup modal button
                $(".signup-modal-btn").on("click", event => {
                    $(".option-login").hide();
                    $(".option-signup").show();
                });
            }


            $(document).ready(afterReady);
        </script>

        <script>
            // Wrap every letter in a span
            var textWrapper = document.querySelector('.ml11 .letters');
            textWrapper.innerHTML = textWrapper.textContent.replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>");

            anime.timeline({ loop: true })
                .add({
                    targets: '.ml11 .line',
                    scaleY: [0, 1],
                    opacity: [0.5, 1],
                    easing: "easeOutExpo",
                    duration: 700
                })
                .add({
                    targets: '.ml11 .line',
                    translateX: [0, document.querySelector('.ml11 .letters').getBoundingClientRect().width + 10],
                    easing: "easeOutExpo",
                    duration: 700,
                    delay: 100
                }).add({
                    targets: '.ml11 .letter',
                    opacity: [0, 1],
                    easing: "easeOutExpo",
                    duration: 600,
                    offset: '-=775',
                    delay: (el, i) => 34 * (i + 1)
                }).add({
                    targets: '.ml11',
                    opacity: 0,
                    duration: 1000,
                    easing: "easeOutExpo",
                    delay: 1000
                });


            var ml4 = {};
            ml4.opacityIn = [0, 1];
            ml4.scaleIn = [0.2, 1];
            ml4.scaleOut = 3;
            ml4.durationIn = 800;
            ml4.durationOut = 600;
            ml4.delay = 500;

            anime.timeline({ loop: false })
                .add({
                    targets: '.ml4 .letters-1',
                    opacity: ml4.opacityIn,
                    scale: ml4.scaleIn,
                    duration: ml4.durationIn
                }).add({
                    targets: '.ml4 .letters-1',
                    opacity: 0,
                    scale: ml4.scaleOut,
                    duration: ml4.durationOut,
                    easing: "easeInExpo",
                    delay: ml4.delay
                }).add({
                    targets: '.ml4 .letters-2',
                    opacity: ml4.opacityIn,
                    scale: ml4.scaleIn,
                    duration: ml4.durationIn
                }).add({
                    targets: '.ml4 .letters-2',
                    opacity: 0,
                    scale: ml4.scaleOut,
                    duration: ml4.durationOut,
                    easing: "easeInExpo",
                    delay: ml4.delay
                }).add({
                    targets: '.ml4 .letters-3',
                    opacity: ml4.opacityIn,
                    scale: ml4.scaleIn,
                    duration: ml4.durationIn
                }).add({
                    targets: '.ml4 .letters-3',
                    opacity: 0,
                    scale: ml4.scaleOut,
                    duration: ml4.durationOut,
                    easing: "easeInExpo",
                    delay: ml4.delay
                }).add({
                    targets: '.ml4',
                    opacity: 0,
                    duration: 500,
                    delay: 500
                });
        </script>
        <script src="/js/index.js"></script>
        <script type="text/javascript" src="js/login.js"></script>
        <script type="text/javascript" src="js/signup.js"></script>
    </footer>