<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top" id="navTop">
    <div class="container-fluid">

        <a class="navbar-brand" href="#"><img src="">
            <h2 class="ml-4">tutorMe!</h2>
        </a>
        <h1 class="ml4 text-center d-none d-md-flex justify-content-center pl-4">
            <div><span class="letters letters-1">What in the world...</span></div>
            <div><span class="letters letters-2">is tutorMe?</span></div>
            <div><span class="letters letters-3">Great question!</span></div>
        </h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#navTop">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#stuff">Stuff</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link login-modal-btn" data-toggle="modal" data-target=".bd-example-modal-lg-1">Log
                        in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link signup-modal-btn" data-toggle="modal" data-target=".bd-example-modal-lg-1">Sign
                        up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">

    <div class="parallax2  row">

        <div class="col-2"></div>
        <div class="col-3 text-center">
            <h5 class="background m-4">Learn at your own comfort</h5>
        </div>
        <div class="col-2 text-center">
            <h5 class="background m-1">Learn from anyone</h5>
        </div>
        <div class="col-3 text-center">
            <h5 class="background m-4">Learn Anywhere with Zoom</h5>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="d-flex justify-content-center" id="buttonBox">
        <button type="button" class="btn btn-primary login-modal-btn mt-4" data-toggle="modal"
            data-target=".bd-example-modal-lg-1">Log
            in</button>

        <button type="button" class="btn btn-primary signup-modal-btn mt-4" data-toggle="modal"
            data-target=".bd-example-modal-lg-1">Sign
            up</button>

    </div>
</div>
<div class="row jumbtron mt-3 d-flex justify-content-center" id="about">

    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10 p-2 text-center">

        <p class="lead">
            An online tutoring service that is available to you from anywhere.
        </p>
        <p>
            Link with others who have already mastered what you are learning.
            Tutor others! If you have a good grasp on coding, why not make your foundation and pocket stronger.
        </p>
        <p>Students can fit their existing responsibilities and commitments, and can engage with multimedia content and
            learning materials at whatever time is most convenient to them. Even better: they don’t have to travel
            anywhere to study, they can simply log in to the app from the comfort of their own home, office or anywhere
            they with an internet connection.</p>
        <p></p>
        <p>Learning should be fast, simple and easy.</p>


    </div>
    {{!-- <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
            <button type="button" class="btn btn-primary login-modal-btn mt-4" data-toggle="modal"
                data-target=".bd-example-modal-lg-1">Log
                in</button>

            <button type="button" class="btn btn-primary signup-modal-btn mt-4" data-toggle="modal"
                data-target=".bd-example-modal-lg-1">Sign
                up</button>

        </div> --}}

</div>
</div>




{{!-- coffee break --}}

{{!-- <div class="container-fluid espresso">

    <div class="coffee-header">
      <div class="coffee-header__buttons coffee-header__button-one"></div>
      <div class="coffee-header__buttons coffee-header__button-two"></div>
      <div class="coffee-header__display"></div>
      <div class="coffee-header__details"></div>
    </div>
    <div class="coffee-medium">
      <div class="coffe-medium__exit"></div>
      <div class="coffee-medium__arm"></div>
      <div class="coffee-medium__liquid"></div>
      <div class="coffee-medium__smoke coffee-medium__smoke-one"></div>
      <div class="coffee-medium__smoke coffee-medium__smoke-two"></div>
      <div class="coffee-medium__smoke coffee-medium__smoke-three"></div>
      <div class="coffee-medium__smoke coffee-medium__smoke-for"></div>
      <div class="coffee-medium__cup"></div>
    </div>
    <div class="coffee-footer"></div>
  </div> --}}




<div class="container-fluid">
    <h1 class="display-4 text-center">Zoom in or out <i class="fas fa-plane-departure fa-f2"></i></h1>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <h5 id="picText1">tutorMe from bed</h5>
            <img class="worldPics" src="/images/pink-bedspread-inside-room-2351290.jpg">
        </div>
        <div class="col-md-3 col-sm-12">
            <h5 id="picText2">tutorMe stress free</h5>
            <img class="worldPics" src="/images/turned-on-macbook-pro-on-brown-table-1580329.jpg">
        </div>
        <div class="col-md-3 col-sm-12">
            <h5 id="picText3">tutorMe right now...</h5>
            <img class="worldPics" src="/images/man-wearing-gray-blazer-838413 (1).jpg">
        </div>
        <div class="col-md-3 col-sm-12">
            <h5 id="picText4">tutorMe from anywhere</h5>
            <img class="worldPics" src="/images/wrapped-toilet-paper-on-top-of-a-toilet-3944410.jpg">
        </div>
    </div>
</div>

<!-- Login/Signup Modal -->
<div class="modal fade bd-example-modal-lg-1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Signup Modal Content -->

            <div class="option-signup">
                <div class="modal-header">
                    <h5 class="modal-title">Sign Up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- ID is #s for signup -->
                    <form class="signup" id="s">
                        <div class="form-group row">
                            <div class="col-6">
                                <label for="first-name">First Name</label>
                                <input type="text" class="form-control" id="first-name" placeholder="First Name">
                            </div>
                            <div class="col-6">
                                <label for="last-name">Last Name</label>
                                <input type="text" class="form-control" id="last-name" placeholder="Last Name">
                            </div>
                        </div>

                        <!-- Decides whether this user is instructor or student -->
                        <div class="form-group radio-options">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="studOrInst" id="inst"
                                    value="instructor">
                                <label class="form-check-label" for="inst">Instructor</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="studOrInst" id="stud"
                                    value="student">
                                <label class="form-check-label" for="stud">Student</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="email-input1" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" minlength="8" class="form-control" id="password-input1"
                                placeholder="Password">
                        </div>
                        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span> <span class="msg"></span>
                        </div>

                    </form>
                    <br />
                    <p>Or log in <a href=javascript:loginHere()>here</a></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-default" form="s">Sign Up</button>
                </div>
            </div>

            <!-- Login Modal Content -->

            <div class="option-login">
                <div class="modal-header">
                    <h5 class="modal-title">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="login" id="l">

                        <div class="form-group">
                            <label for="email-input">Email address</label>
                            <input type="email" class="form-control" id="email-input" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="password-input">Password</label>
                            <input type="password" class="form-control" id="password-input" placeholder="Password">
                        </div>
                        <div style="display: none" id="alert1" class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span> <span class="msg"></span>
                        </div>
                    </form>
                    <br />
                    <p>Or sign up <a href=javascript:signupHere()>here</a></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" form="l" class="btn btn-default">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4 title1">Bottom line...</h1>
            <h1 class="espresso-1">Wait wait...</h1>
            <h1 class="espresso-2">Quick espresso break</h1>

            <h3 class="bulletPoints"></h3>
            <h3 class="bulletPoints">Make your own positive work space </h3>
            <h3 class="bulletPoints"> Set or pick your own hours </h3>
            <h3 class="bulletPoints"> Learn at your convinence </h3>


            <div class="col-12 espresso">

                <div class="coffee-header">
                    <div class="coffee-header__buttons coffee-header__button-one"></div>
                    <div class="coffee-header__buttons coffee-header__button-two"></div>
                    <div class="coffee-header__display"></div>
                    <div class="coffee-header__details"></div>
                </div>
                <div class="coffee-medium">
                    <div class="coffe-medium__exit"></div>
                    <div class="coffee-medium__arm"></div>
                    <div class="coffee-medium__liquid"></div>
                    <div class="coffee-medium__smoke coffee-medium__smoke-one"></div>
                    <div class="coffee-medium__smoke coffee-medium__smoke-two"></div>
                    <div class="coffee-medium__smoke coffee-medium__smoke-three"></div>
                    <div class="coffee-medium__smoke coffee-medium__smoke-for"></div>
                    <div class="coffee-medium__cup"></div>
                </div>
                <div class="coffee-footer"></div>



            </div>

        </div>


    </div>
</div>

<!-- Profiles -->

<div class="container-fluid padding profiles" id="contact">

    <h1 class="ml11 text-center">
        <span class="text-wrapper">
            <span class="line line1"></span>
            <span class="letters">MEET THE TEAM</span>
        </span>
    </h1>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="card-imd-top profile1" src="">
                <div class="card-body text-center">
                    <h4 class="card-title">Daria</h4>
                    <p class="card-text">Full-Stack Developer in training.
                        Learning challenge is what makes us fully human.
                        Currently exploring MVC Frameworks.</p>
                    <a href="#" class="btn btn-outline-secondary url1">View Github Profile<br><i
                            class="fab fa-github fa-1x"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-imd-top profile2" src="">
                <div class="card-body text-center">
                    <h4 class="card-title">Gus</h4>
                    <p class="card-text">Future Software Engineer. Always a student.<br> <br></p>
                    <a href="#" class="btn btn-outline-secondary url2">View Github Profile<br><i
                            class="fab fa-github fa-1x"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-imd-top profile3" src="">
                <div class="card-body text-center">
                    <h4 class="card-title">Brian</h4>
                    <p class="card-text">Software developement student, excited to be here.
                        <br> <br>
                    </p>
                    <a href="#" class="btn btn-outline-secondary url3">View Github Profile<br><i
                            class="fab fa-github fa-1x"></i></a>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid padding">
        <div class="col-12">
            <h1 class="display-4 text-center" id="stuff">Take notes for success</h1>
            <hr class="light">

        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <h5 class="background">#cleanIsIn</h5>

                <iframe src="https://giphy.com/embed/SAITQHfB6SLQc3fuf3" width="480" height="480" frameBorder="0"
                    class="giphy-embed" allowFullScreen></iframe>
                <p><a href="https://giphy.com/gifs/safefood-hand-handwashing-washing-SAITQHfB6SLQc3fuf3"></a></p>

            </div>
            <div class="col-md-4">
                <h5 class="background">#vote don't be that guy... or girl</h5>

                <iframe src="https://giphy.com/embed/8lTcWsBdlhXXodYP0u" width="480" height="480" frameBorder="0"
                    class="giphy-embed" allowFullScreen></iframe>
                <p><a href="https://giphy.com/gifs/GoVote-vote-election-govote-8lTcWsBdlhXXodYP0u"></a></p>

            </div>
            <div class="col-md-4">
                <h5 class="background">#liveYoLife</h5>
                <iframe src="https://giphy.com/embed/WQaHrd6Z3038DofLRl" width="480" height="480" frameBorder="0"
                    class="giphy-embed" allowFullScreen></iframe>
                <p><a href="https://giphy.com/gifs/love-valentines-day-csak-WQaHrd6Z3038DofLRl"></a></p>

            </div>
        </div>
    </div>

</div>


<!-- footer -->

<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <h4>Resources</h4>
                <hr class="light">
                <a href="https://www.github.com/" target="_blank"><i class="fab fa-github fa-3x"></i></a>
                <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube fa-3x"></i></a>
                <a href="https://stackoverflow.com" target="_blank"><i class="fab fa-stack-overflow fa-3x"></i></a>
                <a href="https://getbootstrap.com" target="_blank"><i class="fab fa-bootstrap fa-3x"></i></a>
                <a href="https://www.google.com/" target="_blank"><i class="fab fa-google fa-3x"></i></a>
                <!-- neet to rplace with w3schools or delete 
                            <i class="fab fa-github fa-3x"></i> -->

            </div>
            <div class="col-md-4">
                <h4>Location</h4>
                <hr class="light">
                <p>Full-stack Flex Bootcamp</p>
                <p>Georgia, Tech</p>
                <p>Atlanta, GA</p>
                <p>30308</p>
            </div>
            <div class="col-md-4">
                <h4>Support</h4>
                <hr class="light">
                <p>tutorme.support@goodquestion.org</p>
            </div>
            <div class="col-12">
                <hr class="light">
                <h4>&copy; tutorme.com</h4>
            </div>
        </div>


</footer>

<script language="javascript" type="text/javascript">

    // on click to change login page to signup page
    const loginHere = () => {
        $(".option-signup").fadeOut(100, () => {

            $(".option-login").fadeIn(100);
        });
    };

    // on click to change signup page to login page
    const signupHere = () => {
        $(".option-login").fadeOut(100, () => {

            $(".option-signup").fadeIn(100);
        });
    };

    const afterReady = ($) => {

        // on click for login modal button
        $(".login-modal-btn").on("click", event => {
            $(".option-signup").hide();
            $(".option-login").show();
        });

        // on click for signup modal button
        $(".signup-modal-btn").on("click", event => {
            $(".option-login").hide();
            $(".option-signup").show();
        });
    }


    $(document).ready(afterReady);
</script>

<script>

    // espresso machine hide and show

    $(".espresso").hide();
    $(".espresso-1").hide();
    $(".espresso-2").hide();

    setTimeout(function () {
        $(".bulletPoints").fadeOut("fast");
        $(".title1").fadeOut("fast");
        $(".espresso-1").show();
    }, 8000);

    setTimeout(function () {
        $(".espresso-2").show();
    }, 10000);

    setTimeout(function () {
        $(".espresso").show();
    }, 11500);

    setTimeout(function () {
        $(".espresso-1").hide();
        $(".espresso-2").hide();
        $(".espresso").hide();
        $(".bulletPoints").fadeIn("fast");
        $(".title1").fadeIn("fast");
    }, 19785);

    // what is tutorMe animation
    // Wrap every letter in a span

    var textWrapper = document.querySelector('.ml11 .letters');
    textWrapper.innerHTML = textWrapper.textContent.replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>");

    anime.timeline({ loop: true })
        .add({
            targets: '.ml11 .line',
            scaleY: [0, 1],
            opacity: [0.5, 1],
            easing: "easeOutExpo",
            duration: 700
        })
        .add({
            targets: '.ml11 .line',
            translateX: [0, document.querySelector('.ml11 .letters').getBoundingClientRect().width + 10],
            easing: "easeOutExpo",
            duration: 700,
            delay: 100
        }).add({
            targets: '.ml11 .letter',
            opacity: [0, 1],
            easing: "easeOutExpo",
            duration: 600,
            offset: '-=775',
            delay: (el, i) => 34 * (i + 1)
        }).add({
            targets: '.ml11',
            opacity: 0,
            duration: 1000,
            easing: "easeOutExpo",
            delay: 1000
        });


    var ml4 = {};
    ml4.opacityIn = [0, 1];
    ml4.scaleIn = [0.2, 1];
    ml4.scaleOut = 2;
    ml4.durationIn = 800;
    ml4.durationOut = 600;
    ml4.delay = 500;

    anime.timeline({ loop: true })
        .add({
            targets: '.ml4 .letters-1',
            opacity: ml4.opacityIn,
            scale: ml4.scaleIn,
            duration: ml4.durationIn
        }).add({
            targets: '.ml4 .letters-1',
            opacity: 0,
            scale: ml4.scaleOut,
            duration: ml4.durationOut,
            easing: "easeInExpo",
            delay: ml4.delay
        }).add({
            targets: '.ml4 .letters-2',
            opacity: ml4.opacityIn,
            scale: ml4.scaleIn,
            duration: ml4.durationIn
        }).add({
            targets: '.ml4 .letters-2',
            opacity: 0,
            scale: ml4.scaleOut,
            duration: ml4.durationOut,
            easing: "easeInExpo",
            delay: ml4.delay
        }).add({
            targets: '.ml4 .letters-3',
            opacity: ml4.opacityIn,
            scale: ml4.scaleIn,
            duration: ml4.durationIn
        }).add({
            targets: '.ml4 .letters-3',
            opacity: 0,
            scale: ml4.scaleOut,
            duration: ml4.durationOut,
            easing: "easeInExpo",
            delay: ml4.delay
        }).add({
            targets: '.ml4',
            opacity: 0,
            duration: 500,
            delay: 500
        });


    $('#demo').circleType({ radius: 135 })

</script>


<script src="/js/index.js"></script>
<script type="text/javascript" src="js/login.js"></script>
<script type="text/javascript" src="js/signup.js"></script>
</footer>





</footer>

<script language="javascript" type="text/javascript">
    // on click to change login page to signup page
    const loginHere = () => {
        $(".option-signup").fadeOut(100, () => {

            $(".option-login").fadeIn(100);
        });
    };

    // on click to change signup page to login page
    const signupHere = () => {
        $(".option-login").fadeOut(100, () => {

            $(".option-signup").fadeIn(100);
        });
    };

    const afterReady = ($) => {

        // on click for login modal button
        $(".login-modal-btn").on("click", event => {
            $(".option-signup").hide();
            $(".option-login").show();
        });

        // on click for signup modal button
        $(".signup-modal-btn").on("click", event => {
            $(".option-login").hide();
            $(".option-signup").show();
        });
    }
    $(document).ready(afterReady);
</script>

<script>
    // Wrap every letter in a span

    $(".espresso").hide();
    $(".espresso-1").hide();
    $(".espresso-2").hide();

    setTimeout(function () {
        $(".bulletPoints").fadeOut("fast");
        $(".title1").fadeOut("fast");
        $(".espresso-1").show();
    }, 8000);

    setTimeout(function () {
        $(".espresso-2").show();
    }, 10000);

    setTimeout(function () {
        $(".espresso").show();
    }, 11500);

    setTimeout(function () {
        $(".espresso-1").hide();
        $(".espresso-2").hide();
        $(".espresso").hide();
        $(".bulletPoints").fadeIn("fast");
        $(".title1").fadeIn("fast");
    }, 19785);

    var textWrapper = document.querySelector('.ml11 .letters');
    textWrapper.innerHTML = textWrapper.textContent.replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>");

    anime.timeline({ loop: true })
        .add({
            targets: '.ml11 .line',
            scaleY: [0, 1],
            opacity: [0.5, 1],
            easing: "easeOutExpo",
            duration: 700
        })
        .add({
            targets: '.ml11 .line',
            translateX: [0, document.querySelector('.ml11 .letters').getBoundingClientRect().width + 10],
            easing: "easeOutExpo",
            duration: 700,
            delay: 100
        }).add({
            targets: '.ml11 .letter',
            opacity: [0, 1],
            easing: "easeOutExpo",
            duration: 600,
            offset: '-=775',
            delay: (el, i) => 34 * (i + 1)
        }).add({
            targets: '.ml11',
            opacity: 0,
            duration: 1000,
            easing: "easeOutExpo",
            delay: 1000
        });


    var ml4 = {};
    ml4.opacityIn = [0, 1];
    ml4.scaleIn = [0.2, 1];
    ml4.scaleOut = 2;
    ml4.durationIn = 800;
    ml4.durationOut = 600;
    ml4.delay = 500;

    anime.timeline({ loop: true })
        .add({
            targets: '.ml4 .letters-1',
            opacity: ml4.opacityIn,
            scale: ml4.scaleIn,
            duration: ml4.durationIn
        }).add({
            targets: '.ml4 .letters-1',
            opacity: 0,
            scale: ml4.scaleOut,
            duration: ml4.durationOut,
            easing: "easeInExpo",
            delay: ml4.delay
        }).add({
            targets: '.ml4 .letters-2',
            opacity: ml4.opacityIn,
            scale: ml4.scaleIn,
            duration: ml4.durationIn
        }).add({
            targets: '.ml4 .letters-2',
            opacity: 0,
            scale: ml4.scaleOut,
            duration: ml4.durationOut,
            easing: "easeInExpo",
            delay: ml4.delay
        }).add({
            targets: '.ml4 .letters-3',
            opacity: ml4.opacityIn,
            scale: ml4.scaleIn,
            duration: ml4.durationIn
        }).add({
            targets: '.ml4 .letters-3',
            opacity: 0,
            scale: ml4.scaleOut,
            duration: ml4.durationOut,
            easing: "easeInExpo",
            delay: ml4.delay
        }).add({
            targets: '.ml4',
            opacity: 0,
            duration: 500,
            delay: 500
        });
</script>

<script src="/js/index.js"></script>
<script type="text/javascript" src="js/login.js"></script>
<script type="text/javascript" src="js/signup.js"></script>
</footer>